# Generated folders
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio code coverage files
*.coverage
*.coveragexml

# NuGet packages
*.nupkg
*.snupkg
# NuGet restore folders
.nuget/
packages/

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider files
.idea/
*.sln.iml

# Runtime files
*.exe
*.dll
*.pdb

# Publish folders
publish/

# Other temporary files
.vscode/
*.log
*.vs/
